record(mbbi, "$(P)$(N)") {
    field(DTYP, "asynInt32")
    field(INP , "@asyn(DEV_R_$(BASE),$(OFFSET),100)MODBUS_DATA")
    field(SCAN, "I/O Intr")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(FRVL, "4")
    field(FVVL, "5")
    field(SXVL, "6")
    field(ZRST, "Stop")
    field(ONST, "InterLock")
    field(TWST, "Ramp")
    field(THST, "AutoTune")
    field(FRST, "Breaking")
    field(FVST, "Normal")
    field(SXST, "Fail")
}
